/* Font */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
/* Variables */
html {
  --ubuntu: "Ubuntu", sans-serif;
  --overpass: "Overpass", sans-serif;

  /* Red */
  /* !bg gradient intro/cta mobile nav */
  --red-100: hsl(13, 100%, 72%);
  --red-300: hsl(355, 100%, 74%);
  --red-400: hsl(356, 100%, 66%);
  /* !bg gradient intro/cta mobile nav */
  --red-500: hsl(353, 100%, 62%);

  /* Blue */
  --blue-700: hsl(208, 49%, 24%);
  --blue-900: hsl(240, 10%, 16%);

  /* gray-blue */
  --gray-blue-500: hsl(240, 2%, 79%);
  --gray-blue-700: hsl(207, 13%, 34%);
  /* !! Background gradient - body: */
  --gray-blue-800: hsl(237, 23%, 32%);
  --gray-blue-900: hsl(237, 17%, 21%);
}

html {
  --font-size-h1: clamp(3.6rem, 2.6141rem + 2.6291vw, 6.4rem);
  --letter-spacing-h1: clamp(-0.108rem, -0.0784rem + -0.0789vw, -0.192rem);
  --font-size-h2: clamp(2.8rem, 2.3775rem + 1.1268vw, 4rem);
  --letter-spacing-h2: clamp(-0.084rem, -0.0713rem + -0.0338vw, -0.12rem);
  --font-size-h3: 2.8rem;
  --line-height-h3: clamp(3.2rem, 3.3408rem + -0.3756vw, 2.8rem);
  --font-size-body: 1.6rem;
  --line-height-body: 2.8rem;
  --letter-spacing-body: 0.05rem;
  --font-size-footer: 1.8rem;
  --line-height-footer: 3.3rem;

  --font-size-header-heading: clamp(1.8rem, 1.8704rem + -0.1878vw, 1.6rem);
  --line-height-header-heading: 2.8rem;

  --font-size-header-link: clamp(1.6rem, 1.6352rem + -0.0939vw, 1.5rem);
  --line-height-header-link: clamp(2.8rem, 2.6239rem + 0.4695vw, 3.3rem);

  --font-size-large-button: 1.6rem;
  --font-size-small-button: clamp(1.8rem, 1.8704rem + -0.1878vw, 1.6rem);
}

html {
  --z-header: 50;
}

/* Font - global styling */

header *:is(button.header__menu-heading) > p {
  font-family: var(--overpass);
  font-size: var(--font-size-header-heading);
  line-height: var(--line-height-header-heading);
  font-weight: 600;
}

@media screen and (min-width: 1110px) {
  header > *:is(button.menu__heading) {
    line-height: auto;
  }
}

header a {
  font-family: var(--overpass);
  font-size: var(--font-size-header-link);
  line-height: var(--line-height-header-link);
  font-weight: 600;
}

h1 {
  font-family: var(--overpass);
  font-size: var(--font-size-h1);
  letter-spacing: var(--letter-spacing-h1);
  font-weight: 600;
}

h2 {
  font-family: var(--overpass);
  font-size: var(--font-size-h2);
  letter-spacing: var(--letter-spacing-h2);
  font-weight: 600;
}

h3 {
  font-family: var(--overpass);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: 600;
}

p {
  font-family: var(--overpass);
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: 300;
}

footer h4 {
  font-weight: 500;
}

footer *:is(p, li, a) {
  font-weight: 400;
}

footer *:is(p, li, h4) {
  font-family: var(--ubuntu);
  font-size: var(--font-size-footer);
  line-height: var(--line-height-footer);
}

/* Body */

a:is(:focus, :focus-within),
button:is(:focus, :focus-within) {
  outline: black 2px solid;
}

/* 
*:is(a, button) {
  tab
} */

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2.4rem 1fr 2.4rem;
  grid-auto-rows: max-content;
  overflow-x: hidden;
}

@media screen and (min-width: 950px) {
  body {
    grid-template-columns: minmax(4rem, 1fr) minmax(auto, 111rem) minmax(
        4rem,
        1fr
      );
  }
}

main.main {
  width: 100%;
  grid-column: 1/4;
  /* height: 60rem; */
  display: grid;
  grid-template-columns: 2.4rem 1fr 2.4rem;
}

@media screen and (min-width: 950px) {
  main.main {
    grid-template-columns: minmax(4rem, 1fr) minmax(auto, 111rem) minmax(
        4rem,
        1fr
      );
  }
}

/* !HERO HERO HERO HERO */

section.hero {
  width: 100%;
  background: url(../assets/images/bg-pattern-intro-desktop.svg),
    linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto;
  padding: 19.6rem 2.4rem 15.6rem;
  grid-column: 1/4;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  gap: 4.8rem;
  border-radius: 0 0 0 10rem;
  margin-bottom: 10rem;
}

@media screen and (min-width: 950px) {
  section.hero {
    margin-bottom: 15rem;
    background-size: 170rem, auto;
    background-position: left 38% bottom 44%, center;
  }
}

.hero__text-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.8rem;
}

@media screen and (min-width: 950px) {
  .hero__text-container {
    gap: 1.6rem;
  }
}

.hero__ctas {
  display: flex;
  gap: 1.6rem;
}

.hero__ctas > a {
  padding: 1.5rem 1.7rem;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.8rem;
  border-radius: 2.8rem;
  transition: color 250ms, background 250ms;
}

.hero__ctas > a.full {
  background: white;
  color: var(--red-500);
}
.hero__ctas > a.full:hover {
  background: var(--red-300);
  color: white;
}
.hero__ctas > a.outline {
  border: white 0.1rem solid;
  color: white;
}
.hero__ctas > a.outline:hover {
  background: white;
  color: var(--red-300);
}

/* !FUTURE FUTURE FUTURE FUTURE */

section.future {
  grid-column: 2/3;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 4.6rem;
  margin-bottom: 10rem;
}

@media screen and (min-width: 950px) {
  section.future {
    gap: 10.3rem;
    margin-bottom: 21.3rem;
  }
}

.future__grid-container {
  text-align: center;
  display: grid;
  gap: 4.6rem;
}

@media screen and (min-width: 950px) {
  .future__grid-container {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: minmax(44.4rem, max-content); */
    gap: 12.5rem;
  }
}

.future__description {
  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
}

.future__description-img-container img {
  max-width: 60rem;
  width: 100%;
}
@media screen and (min-width: 950px) {
  .future__description-img-container img {
    max-width: unset;
  }
}

@media screen and (min-width: 950px) {
  .future__description {
    grid-row: 1/2;
    grid-column: 1/2;
    width: max-content;
    max-width: 54rem;
    gap: 6.4rem;
  }

  .future__description-img-container {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .future__description-img-container *:is(picture, img) {
    /* display: none; */
    position: absolute;
    width: 150%;
    max-width: 90rem;
    left: 0;
    top: 50%;
    transform: translate(-1.9rem, -50%);
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */
  }
}

.future__description-text {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
}

/* !INFRASTRUCTURE INFRASTRUCTURE INFRASTRUCTURE INFRASTRUCTURE */

section.infrastructure {
  grid-column: 1/4;
  color: white;
  display: grid;
  grid-template-columns: 2.4rem 1fr 2.4rem;
  grid-template-rows: 17.3rem max-content 4.7rem max-content 10.9rem;
  margin-bottom: clamp(7.9rem, -25.2531rem + 34.898vw, 25rem);
}

section.infrastructure::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../assets/images/bg-pattern-circles.svg"),
    linear-gradient(135deg, var(--gray-blue-900) 0%, var(--gray-blue-800) 100%);
  background-position: center top -20rem, center;
  background-repeat: no-repeat, repeat;
  background-size: 60rem, auto;
  grid-column: 1/4;
  grid-row: 2/6;
  border-radius: 0 10rem;
}

@media screen and (min-width: 450px) {
  section.infrastructure {
    grid-template-columns: minmax(2.4rem, 1fr) minmax(38.6rem, 2fr) minmax(
        2.4rem,
        1fr
      );
    /* margin-bottom: 25rem; */
  }
}

@media screen and (min-width: 950px) {
  section.infrastructure {
    grid-template-columns: 4rem 1fr minmax(4rem, 5rem) 1.5fr 4rem;
    grid-template-rows: 5rem minmax(30rem, max-content) 5rem;
  }

  section.infrastructure::before {
    grid-column: 1/6;
    grid-row: 2/3;
    background-position: right 125% top -55rem, center;
    background-size: 101.4rem, auto;
  }
}

@media screen and (min-width: 1078px) {
  section.infrastructure {
    grid-template-columns: 4rem 1fr minmax(4rem, 6rem) 54rem 4rem;
  }
}
@media screen and (min-width: 1160px) {
  section.infrastructure {
    grid-template-columns: minmax(4rem, 1fr) 47.2rem minmax(4rem, 9rem) 54rem minmax(
        4rem,
        1fr
      );
  }
}

.infrastructure__img-container {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 100%;
}

@media screen and (min-width: 950px) {
  .infrastructure__img-container {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.infrastructure__img-container > img {
  width: 100%;
}

.infrastructure__text-container {
  grid-column: 2/3;
  grid-row: 4/5;
  place-self: center;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  gap: 3rem;
}

@media screen and (min-width: 950px) {
  .infrastructure__text-container {
    grid-column: 4/5;
    grid-row: 2/3;
    gap: 1.5rem;
    text-align: left;
  }
}

.infrastructure__text-container h2 {
  font-family: Overpass;
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 5.1rem;
  letter-spacing: -0.12rem;
}

@media screen and (min-width: 1440px) {
  section.infrastructure {
    grid-template-columns: minmax(4rem, 1fr) 47.2rem minmax(4rem, 9.8rem) 54rem minmax(
        4rem,
        1fr
      );
    grid-template-rows: 5rem max-content 5rem;
  }
}

/* Decided to mainly use flexbox for this section after learning from the Future
section. grid was just unnecessary since we didn't really utilise any important
parts of it. */

section.benefits {
  grid-column: 2/3;
  margin-bottom: 10rem;
}

@media screen and (min-width: 950px) {
  section.benefits {
    margin-bottom: 30.8rem;
  }
}

.benefits__flex-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 4.6rem;
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 950px) {
  .benefits__flex-container {
    flex-flow: row nowrap;
    text-align: left;
  }
}

.benefits__img-container {
  width: 100%;
}

.benefits__img-container img {
  width: 100%;
}

@media screen and (min-width: 950px) {
  .benefits__img-container {
    min-width: 40rem;
    position: relative;
  }

  .benefits__img-container img {
    position: absolute;
    width: 150%;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.benefits__description {
  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
  max-width: 54rem;
}

.benefits__description-text {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.6rem;
}

/* !FOOTER FOOTER FOOTER FOOTER */

footer.footer {
  grid-column: 1/4;
  background: var(--blue-900);
  display: grid;
  grid-template-columns: 2.4rem 1fr 2.4rem;
  border-radius: 0 10rem 0 0;
  padding: 7rem 0;
}

@media screen and (min-width: 768px) {
  footer.footer {
    grid-template-columns: minmax(4rem, 16.8rem) 1fr minmax(4rem, 16.8rem);
  }
}

@media screen and (min-width: 1440px) {
  footer.footer {
    grid-template-columns: minmax(16.8rem, 1fr) 111rem minmax(16.8rem, 1fr);
  }
}

.footer__wrapper {
  grid-column: 2/3;
  display: flex;
  flex-flow: column nowrap;
  gap: 7.2rem;
  align-items: center;
  text-align: center;
  color: white;
  max-width: 98.3rem;
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
    /* gap: 3rem; */
    text-align: left;
    align-items: flex-start;
  }
}

.footer__links-category {
  display: flex;
  flex-flow: column nowrap;
  gap: 2.1rem;
}

.footer__links-category a {
  opacity: 0.75;
}
