header.header,
main.main {
  grid-row: 1/2;
}

header.header {
  height: max-content;
  margin-top: 5.6rem;
  z-index: var(--z-header);
  grid-column: 2/3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 950px) {
  .header {
    gap: 6.4rem;
    justify-content: start;
  }
}

.header__menu-button {
  height: 100%;
  width: 3.2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

@media screen and (min-width: 950px) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-button > span {
  display: block;
  width: 100%;
  height: 0.1rem;
  background: white;
  transition: transform 250ms, opacity 250ms;
  transform-origin: 6px 0px;
}

.header__menu-button.active > span:nth-child(1) {
  transform: rotate(45deg);
}
.header__menu-button.active > span:nth-child(2) {
  transform: scale(0.1);
  opacity: 0;
}
.header__menu-button.active > span:nth-child(3) {
  transform: rotate(-45deg);
}

.header__menu {
  position: absolute;
  top: calc(100% + 3.7rem);
  width: 100%;
  height: max-content;
  background: white;
  border-radius: 0.5rem;
  padding: 2.4rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2.4rem;
  opacity: 0;
  transform: scale(0);
  transition: all 250ms;
  transform-origin: 100% -30%;
}

@media screen and (min-width: 950px) {
  .header__menu {
    position: static;
    top: unset;
    opacity: 1;
    background: transparent;
    flex-direction: row;
    transform: scale(1);
    padding: 0;
  }
}

.header__menu-button.active ~ .header__menu {
  transform: scale(1);
  opacity: 1;
}

.header__menu-links {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2.4rem;
}

@media screen and (min-width: 950px) {
  .header__menu-links {
    flex-direction: row;
    gap: 3.2rem;
    flex: 0;
  }
}

.header__menu-section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media screen and (min-width: 950px) {
  .header__menu-section {
    position: relative;
  }
}

.header__menu-heading {
  width: max-content;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  color: var(--blue-700);
}

@media screen and (min-width: 950px) {
  .header__menu-heading {
    opacity: 0.75;
    color: white;
    transition: opacity 250ms;
  }
  .header__menu-heading > p {
    position: relative;
  }
  .header__menu-heading > p::before {
    position: absolute;
    content: "";
    bottom: 0.5rem;
    left: 0;
    background: white;
    height: 0.2rem;
    width: 100%;
    transform-origin: 50% 50%;
    transform: scaleX(0);
    transition: transform 250ms;
  }

  .header__menu-heading:is(:hover, .active, :focus-within) {
    opacity: 1;
  }
  .header__menu-heading:is(:hover, .active, :focus-within) > p::before {
    transform: scaleX(1);
  }
}

.header__menu-list {
  --duration: 350ms;
  margin-top: 0;
  width: 100%;
  background: hsla(237, 17%, 21%, 8%);
  flex-flow: column nowrap;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-radius: 0.5rem;
  transition: all var(--duration);
  overflow: hidden;
  max-height: 0;
}

@media screen and (min-width: 950px) {
  .header__menu-list {
    max-height: unset;
    width: max-content;
    min-width: 16.8rem;
    transform: scale(0);
    transform-origin: 60% -2rem;
    padding: 2.4rem;
    position: absolute;
    top: 5rem;
    left: -2.4rem;
    background: white;
  }

  .header__menu-heading:is(.active) ~ .header__menu-list {
    transform: scale(1);
  }
}

.header__menu-heading picture {
  height: 100%;
  display: grid;
  place-items: center;
}
.header__menu-heading img {
  transform: translateY(-35%);
  transition: transform 250ms;
}

.header__menu-heading.active img {
  transform: translateY(-35%) rotate(180deg);
}

.header__menu-list *:is(a) {
  color: var(--blue-700);
  opacity: 0.75;
}

@media screen and (min-width: 950px) {
  header a {
    font-family: var(--ubuntu);
    font-weight: 400;
    transition: font-weight 50ms;
  }

  header a:hover {
    font-weight: bold;
  }
}

.header__menu-ctas {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 2.4rem;
  align-items: center;
  border-top: 1px solid #e8e4e4;
  gap: 2.4rem;
}

@media screen and (min-width: 950px) {
  .header__menu-ctas {
    flex-direction: row;
    padding-top: 0;
    border-top: none;
    flex: 1;
    justify-content: flex-end;
    gap: 3.2rem;
  }
}

button.login {
  font-family: var(--overpass);
  font-size: var(--font-size-small-button);
  line-height: 2.8rem;
  color: var(--blue-900);
  font-weight: bold;
}

@media screen and (min-width: 950px) {
  button.login {
    color: white;
    opacity: 0.75;
    transition: opacity 250ms;
  }
  button.login:is(:hover, :focus, :focus-within) {
    color: white;
    opacity: 1;
  }
}

button.sign-up {
  font-family: var(--ubuntu);
  font-size: var(--font-size-large-button);
  font-weight: bold;
  color: white;
  width: max-content;
  background: linear-gradient(to bottom right, var(--red-100), var(--red-400));
  padding: 1.5rem 4rem;
  border-radius: 2.8rem;
}

@media screen and (min-width: 950px) {
  button.sign-up {
    background: white;
    color: var(--red-400);
    transition: background 250ms, color 250ms;
  }
  button.sign-up:is(:hover, .active, :focus-within) {
    background: var(--red-300);
    color: white;
  }
}
